#publock-menu-pane
{
    width: var(--menu-pane-width);
    height: calc(100% - var(--top-pane-height));
    
    background-color: var(--menu-background-color);
    
    float: left;
    
    border-right: var(--border-size) solid var(--main-background-color);
}