/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

*
{
    margin: 0;
    padding: 0;
    
    --main-background-color: #2D3E50;
    --menu-background-color: #34495E;
    
    --top-pane-height: 50px;
    --menu-pane-width: 200px;
    
    --border-size: 15px;
    
    font-family: 'Source Sans Pro', sans-serif;
}

